.hand-row-border {
  border: 2px solid black;
  padding: 15px;
}

.first-card {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.second-card {
  border-top: 2px solid black;

  border-bottom: 2px solid black;
}
.third-card {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
