.row-one {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.row-two {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: -17px;
}

.row-three {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r2 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r2 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r3 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r3 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r1-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r1-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r2-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r2-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p1-r3-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p2-r3-col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
